[Unit]
Description=Meidesheet bed capturing
After=network-online.target

[Service]
ExecStart=/usr/bin/python3.5 /home/pi/Scripts/gnb/iot_pi/app.py
WorkingDirectory=/home/pi/Scripts/iot_pi/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target