[Unit]
Description=Meidesheet bed polling for data
After=iot_pi.service

[Service]
WorkingDirectory=/home/pi/Scripts/gnb/iot_pi
ExecStart=/bin/sh /home/pi/Scripts/gnb/iot_pi/poll.sh
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target