[Unit]
Description=Meidesheet bed capturing
After=network-online.target

[Service]
WorkingDirectory=/home/pi/Scripts/gnb/iot_pi
ExecStart=/usr/bash /home/pi/Scripts/gnb/iot_pi/devStatus.sh
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target